<style>
html, body
{
    padding: 0px;
    margin: 0px;
}
.header
{
    border-color: #36394A;
    background-color: #24262F;
    background-color: #36394A;
    border: 1px black;
    height: 50px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right:40px;
    padding-left:40px;
}
.text{
    color:#d9d9d9;
    gap:auto;

}
.dot {
    height: 30px;
  width: 30px;
  background-color: #523C3C;
  border-radius: 50%;
}
</style>
<div class="header">
<span class="dot"></span>
<p class='text'>
    TRENDING
</p>
<p class='text'>
    FOR YOU
</p>
<p class='text'>
    CATAGORIES
</p>
<p class='text'>
    FEATURED
</p>
<p class='text'>
    CART
</p>
<p class='text'>
    FOR YOU
</p>
</div>