/* header.css */
html,
body {
    margin: 0;
    overflow: auto;
    font-family: 'Arial';
}

/* The navigation bar */
.header {
    
    background-color: #24282f;
    box-shadow: 1px 5px 1px rgba(0, 0, 0, 0.2);/* Shadow for Header */
    width: var(--s-full);
    max-width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
      
    text-decoration: none;
    display: flex;
    justify-content: flex-end
}

/* Logo image */
.logo img {
    height: 100px; 
    width: auto;
    align-items: center;
}

/* Change color on hover */
.logo:hover {
    background-color: #ddd;
    color: black;
}


/* Navigation bar links */
.header a {
    color: white;
    padding: 0px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    border-radius: 5px;
    
}

/* Change color on hover */
.header a:hover {
    flex-wrap: wrap;
    background-color: #ddd;
    color: black;
}


/* Search Bar container*/
.search-container {
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

/* Search Bar */
form .no-submit {
    display: flex;
    align-items: center;
    color: white;
    padding: 2px;
    border: 1px solid currentColor;
    margin: 0 0;
}

/* Search Bar Icon*/
input.no-submit {
    width: 100%;
    padding: 9px 4px 9px 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z' fill='white' /%3E%3C/svg%3E");
    background-size: 20px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 5px center;
}

/* Search Bar Input*/
input[type="search"] {
    border: none;
    background-color: #4d4d4d;
    margin: 0;
    padding: 7px 8px 7px 30px;
    font-size: 16px;
    color: inherit;
    border: none;
    border-radius: 5px;
}

input[type="search"]::placeholder {
    color: black;
}

input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #3f69a8;
    outline: none;
}

/* Line */
.line {
    border-top: 1px solid #575d75;
    width: 100%;
    padding: 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: #575d75;
    clear: both;
}

.header {
    display: flex;
    flex-wrap: wrap;
}

.header a {
    flex-grow: 1;
    text-align: center;
}