.gamethumbnailcontainer{
    background-color: #24282f;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px, 10px, 10px, black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 0 0 auto;
    margin-top: px;
    height: 500px;
    width: auto;
    padding-left: 15px;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: center;
    align-items: center;
}

.gamethumbnail{
    background-color: black;
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
    align-items: center;
    height: 90%;
    width: 100%;
    justify-content: center;
}

.gamedescriptioncontainer{
    background-color: #24282f;
    margin-top: 10px;
    border-radius: 5px;
    height: inherit;
    display: flex;
    width: 84%;
    margin-left: 8%;
    align-items: left;
}

.gamedescription {
    background-color: #36394A;
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
    height: inherit;
    width: 100%;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.addtocartbutton {
    background-color: #2B4F31;
    border-radius: 5px;
    font-size: 18px;
    width: 300px;
    color: #fff;
    box-shadow: 0px 1px 3px 0px black;
}

.tablenospace {
    width:100%;
}

div {
    box-shadow: 0px 1px 3px 0px black;
}