<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="header">
        <span class="dot"></span>
        <p class='text'>TRENDING</p>
        <p class='text'>FOR YOU</p>
        <p class='text'>CATEGORIES</p>
        <p class='text'>FEATURED</p>
        <i class="fa-solid fa-magnifying-glass"></i>
        <textarea >
        </textarea>
        <p class='text'>CART</p>
        <p class='text'>FOR YOU</p>
    </div>
</html>