{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>GEMUKYU</title>
    <link rel="tab icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
</head>
<body>
    <div class="header">
        <a href="{% url 'home' %}" style="height: 100px;width: 40px; padding-left: 30px;padding-right: 30px;padding-top: 5px;padding-bottom: 5px;  margin-left: -6%;">
            <div class="logo" style="height: 100px;">
                <img src="/static/images/GemukyuHomeIcon.png" alt="No Logo, Check the code!" style="height: 100px;">
            </div>
        </a>
        <div class="search-container" style="border-right-style: solid;border-right-width: 0px;width: 55%;">
            <form action="{% url 'game_page' %}" method="POST" style="width: 100%;">
                {% csrf_token %}
                <input class="no-submit" type="search" placeholder="Search Your Next Addiction :D" id="searchInput" name="searchInput" method="POST">
            </form> 
        </div>
        <a href="{% url 'shoppingCart' %}">CART ({{ numCartItems }})</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout_user' %}">LOG OUT</a>
        {% else %}
            <a href="{% url 'login_user' %}">LOG IN</a>
        {% endif %}
    </div>
    <div class="line"></div>
</body>
</html>