<!DOCTYPE html>
<html>
<head>
    {% include "header.html" %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <div class="gamebanner">
        Banner of Featured Game
    </div>
    <text>TRENDING</text>
    <line></line>
    <div class="gamescroller">
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
    </div>
    <text>FOR YOU</text>
    <line></line>
    <div class="gamescroller">
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
    </div>
    <text>SALE</text>
    <line></line>
    <div class="gamescroller">
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
    </div>

    <ul>
        {% for game in games %}
            <li>Title: {{ game.title }}, Description: {{ game.description }}, Release Date: {{ game.release_date }}</li>
        {% endfor %}
    </ul>
</body>
{% include "footer.html" %}
</html>
