<!DOCTYPE html>
<html>
<head>
        {% include "header.html" %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <div class="gamebanner">
        Banner of Featured Game
    </div>
    <text>TRENDING</text>
    <line></line>
    <div class="gamescroller">
        {% for game in games %}
        <div class="gamecontainer">Title: {{ game.title }}, Description: {{ game.description }}, Release Date: {{ game.release_date }}</div>
        {% endfor %}
    </div>
    <text>FOR YOU</text>
    <line></line>
    <div class="gamescroller">
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
    </div>
    <text>SALE</text>
    <line></line>
    <div class="gamescroller">
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
        <div class="gamecontainer"></div>
    </div>
    <div class="bottomcontainer">
        <div class="selectbar">
            <select name="year">
                <option value ="today">YEAR RELEASED</option>
                <option value ="today2">YEAR RELEASED</option>
            </select>
            <select name="genre">
                <option value ="genre">GENRE</option>
                <option value ="genre1">GENRE</option>
            </select>
            <select name="category">
                <option value ="category">CATEGORY</option>
                <option value ="category2">CATEGORY</option>
            </select>
        </div>
        <div class="gameviewer">
            {% for game in games %}
            <div class="gamecard">Title: {{ game.title }}, Description: {{ game.description }}, Release Date: {{ game.release_date }}</div>
            {% endfor %}
        </div>
    </div>

</body>
{% include "footer.html" %}
</html>
