{% include "header.html" %} {% load static %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'orderConfirmation.css' %}">
<html>
<body>
    <h1> ORDER PLACED!</h1>
    <h2> A COPY OF YOUR ORDER HAS BEEN SENT TO YOUR EMAIL</h2>
    <h2>HERE IS YOUR HAUL</h2>
    <div class="orderContainer">
        <div class="ordergameContainer">
        <div class="gameviewer">
            {% for game in games %}
             <div class="gamecard">
                <div class="gamecardinfoimgcontainer">thumbnail here</div>
                <div class="gamecardinfo">Title: {{ game.title }}</div>
                <div class="gamecardinfo">Genre: {{ game.genre }}</div>
                <div class="gamecardinfo">Release Date: {{ game.release_date }}</div>
                <div class="gamecardinfo">Price: ${{ game.price }}</div>
            </div>
           {% endfor %}
        </div>
    </div>
        <h2 style="text-align:right;">TAX: $00.00<h2>
        <h2 style="text-align:right;">TOTAL: $000.00<h2>
    </div>
    <button style="backtohome">BACK TO HOME</button>
</body>
</html>
{% include "footer.html" %}