{% include "header.html" %} {% load static %}

<body class="bg-dark text-light">

    <div class="container mt-5">

        <div class="text-center mt-5">
            <h2>ORDER PLACED!</h2>
            <p>A copy of your order has been sent to your email. Here is your haul.</p>
        </div>

        <div class="container-fluid custom-1">

            <div class="row bg-dark t-3">
                <div class="col-md-3 header-title">
                    ITEM(s)
                </div>
                <div class="col-md-5">
                    <div class="row">

                        <div class="col-md-9 cart-items-detail-title title"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 cart-items-detail"></div>
                        <div class="col-md-9 cart-items-detail-title"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 cart-items-detail"></div>
                        <div class="col-md-9 cart-items-detail-title"> </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 cart-items-detail"></div>
                        <div class="col-md-9 cart-items-detail-title"></div>
                    </div>
                </div>
                <div class="col-md-1 header-title">
                    QTY
                </div>
                <div class="col-md-1 header-title">
                    PRICE
                </div>
                <div class="col-md-2 header-title">
                    TOTAL
                </div>
            </div>

            <!-- Order Cart Loop -->
            {% for item in order_items %}
            <div class="row bg-dark t-3">
                <div class="col-md-3 img-holder">
                    <img class="cart-img" alt="{{ item.game.title }}" src="{% static item.game.image_path %}" />
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3 cart-items-detail">Title</div>
                        <div class="col-md-9 cart-items-detail-title title">{{ item.game.title }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 cart-items-detail">Genre</div>
                        <div class="col-md-9 cart-items-detail-title">{{ item.game.genre }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 cart-items-detail">Publisher</div>
                        <div class="col-md-9 cart-items-detail-title">{{ item.game.publisher }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 cart-items-detail">Date</div>
                        <div class="col-md-9 cart-items-detail-title">{{ item.game.release_date }}</div>
                    </div>
                </div>
                <div class="col-md-1 quantity">
                    {{ item.quantity }}
                </div>
                <div class="col-md-1 unit-price">
                    ${{ item.game.price }}
                </div>
                <div class="col-md-2 cart-items-detail-title price">
                    ${{ item.game.price * item.quantity }}
                </div>
            </div>
            {% endfor %}
            <!-- Order Cart Loop End -->

            <div class="text-right mt-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-12 cart-label">
                                    Subtotal (5 Items):
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 cart-label">
                                    Shipping:
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 cart-label">
                                    Sales Tax:
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 cart-total">
                                    Grand Total:
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12 cart-amnt">
                                    ${{ total_price }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 cart-amnt">
                                    Free
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 cart-amnt">
                                    ${{ sales_tax }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 cart-final">
                                    ${{ grand_total }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
</body>

</html>

<!-- #f7f7f8;
    --gray-100: #ececf1;
    --gray-200: #d9d9e3;
    --gray-300: #c5c5d2;
    --gray-400: #acacbe;
    --gray-500: #8e8ea0;
    --gray-600: #565869;
    --gray-700: #40414f;
    --gray-800: #343541;
    --gray-900: #202123;
    --gray-950: #050509; -->