{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shoppingCart.css' %}">
</head>
<body>
    <header>
        {%include "header.html"%}
    </header>
    
    <div class="breadcrumb">
        <a href="#">Home</a> > <b href="#">Your Shopping Cart</b>
    </div>
    
    <div class="title">
        SHOPPING CART
    </div>
    
    <div class="line"></div>
    
    <div class="cart-box">
        <!-- Shopping cart items here -->
        <div class="cart-item">
            No Items!!! :(
            <!-- Individual cart item content here -->
        </div>
        <!-- Repeat the cart item structure for each item -->
    </div>

    <div class="total-box">
        <div class="total-item">
            <div class="top-left">
                Estimate total:
            </div>
            <div class="top-right">
                $0.00
            </div>
              <button class="purchase-gift-button">
                Purchase as a gift
              </button>
              <button class="purchase-self-button">
                Purchase for myself
              </button>
        </div>
        <div class="sales-tax-notice">
            *Sales tax will be calculated at the checkout.
        </div>

        <button class="continue-shopping-button">Continue Shopping</button>
        <a href="#" class="remove-all-link">Remove All</a>

    </div>
    {% include "footer.html" %}
</body>
</html>
