{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="{% static 'shoppingCart.css' %}">
</head>
<body>
    <header>
        {%include "header.html"%}
    </header>
    
    <div class="breadcrumb">
        <a href="{% url 'home' %}">Home</a> > <b href="{% url 'shoppingCart' %}">Your Shopping Cart</b>
    </div>
    
    <div class="title">
        SHOPPING CART
    </div>
    
    <div class="line"></div>
    
    <div class="cart-box">
        <!-- Shopping cart items here -->
        {% if numCartItems == 0 %}
            <div class="cart-item">
                No Items!!! :(
            </div>
        {% elif numCartItems != 0 %}
            {% for cartItem in cart %}
            <form action="{% url 'remove_from_cart' %}" method="POST" name="cart_item_id" value="{{ cartItem.cart_id }}">
                {% csrf_token %}
                <div class="cart-item">
                    <div><img src="/static/images/{{ cartItem.game_id.small_pic}}" style="height:inherit; width:150px"></div>
                    <div>TITLE: {{ cartItem.game_id.title }}</div>
                    <div>PRICE: ${{ cartItem.game_id.price }}</div>
                    <button type="submit" name="cart_item_id" value="{{ cartItem.cart_id }}" method="POST" class="remove-button">
                        X Remove
                    </button>
                </div>
                <!-- Repeat the cart item structure for each item -->
                
            </form>
            {% endfor %}
        {% endif %}
    </div>
    <div class="total-box">
        <div class="total-item">
            <div class="top-left">
                Subtotal:
            </div>
            <div class="top-right">
                ${{ estimateTotal }}
            </div>
            <div class="sales-tax-notice">
                *Sales tax will be calculated at the checkout.
            </div>
              <a href="{% url 'checkout' %}"><button class="purchase-self-button" type="submit">Purchase</button></a>
        </div>
        <form action="{% url 'home' %}">
            {% csrf_token %}
            <button class="continue-shopping-button" type="submit">Continue Shopping</button>
        </form>
    </div>
    {% include "footer.html" %}
</body>
</html>
